h1 {
  color: #d56c2c;
  font-size: 36px;
}
.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #22223a;
  box-shadow: 10px 10px 28px 0px rgba(255, 255, 255, 1);
  padding: 40px;
}
